body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,yellow,orange,white);
    justify-items: center;
}

#h11{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.container{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0px;
}

.result{
    margin-top: 10%;
    width: 100%;
    height: 50px;
    border-radius: 10%;
    background: linear-gradient(to right,orange,yellow,white);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}

table{
    border-radius: 10px;
    width: 20%;
    margin-left: 10%;
   
}

th{
   border: 5px;
}
tr{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
    padding: 21px;
   
}

button{
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: linear-gradient(to right,yellow,white);
}

button:hover{
    background: linear-gradient(to right,orange,white);
}

td{
    width: 100%;
    text-align: center;
}

td button{
    padding: 15px;
}

.num[value='.']{
    font-size: 20px;
    font-weight: bold;
}

#button3{
    padding: 10px;
    background: linear-gradient(yellow,white);
    border-radius: 15px;
    cursor: pointer;
}

#button3:hover{
    background: linear-gradient(white,yellow);
}

@media(max-width: 768px){

    body{
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(to right,yellow,orange,white);
        justify-items: center;
    }
    
    #h11{
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        border-radius: 15px;
    }
    
    .container{
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    
    .result{
        margin-top: 10%;
        width: 90%;
        height: 50px;
        border-radius: 10%;
        background: linear-gradient(to right,orange,yellow,white);
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        text-align: center;
    }
    
    table{
        border-radius: 10px;
        width: 50%;
        margin-left: 8%;
       
    }
    
    th{
       border: 5px;
    }
    tr{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        gap: 10px;
        padding: 30px;
       
    }
    
    button{
        text-align: center;
        cursor: pointer;
        padding: 10px;
        background: linear-gradient(to right,yellow,white);
    }
    
    button:hover{
        background: linear-gradient(to right,orange,white);
    }
    
    td{
        width: 90%;
        text-align: center;
    }
    
    td button{
        padding: 10px;
    }
    
    .num[value='.']{
        font-size: 20px;
        font-weight: bold;
    }
    
    #button3{
        padding: 10px;
        background: linear-gradient(yellow,white);
        border-radius: 15px;
        cursor: pointer;
    }
    
    #button3:hover{
        background: linear-gradient(white,yellow);
    }

}
